@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UnrealDB</h1>
    <p class="lead">This is a tool for populating the Unreal Database with the necessary object information</p>
</div>

